# STM32CubeIDE workspace metadata
.metadata/
**/.settings/

# Generated build output
**/Debug/
**/Release/
*.o
*.elf
*.map
*.list
*.d
*.su
*.cyclo

# Temporary/editor files
*.swp
*.swo
*~
Thumbs.db
Desktop.ini
bootloader_pj/.mxproject
bootloader_pj/.mxproject
HOST/C/STM32_Programmer_V1/STM32_Programmer_V1.cbp
HOST/C/STM32_Programmer_V1/STM32_Programmer_V1.depend
HOST/C/STM32_Programmer_V1/STM32_Programmer_V1.cscope_file_list
bootloader_pj/bootloader_pj.ioc
bootloader_pj/.mxproject
bootloader_pj/.mxproject
bootloader_pj/.mxproject
HOST/C/STM32_Programmer_V1/STM32_Programmer_V1.layout
HOST/C/STM32_Programmer_V1/user_app.bin
bootloader_pj/bootloader_pj.ioc
bootloader_pj/.mxproject
